@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Noto", sans-serif;
  /* font-size: 13px; */
}

:root {
  --app-secondary-color: #757575;
  --app-accent-color: #172c50;
  --border-bottom: 1px solid #dfdfdf;
  --fs: 13px;
  --app-primary-color: black;
}
.w-100 {
  width: 100%;
}
.fs-13 {
  font-size: var(--fs);
}

.text-decoration-none {
  text-decoration: none;
}

.color-black {
  color: black;
}
.align-items {
  align-items: center;
}
.color-gray {
  color: var(--app-secondary-color);
}

.navbar {
  background: white;
  /* position: fixed;
  top: 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 8%;
  align-items: center;
  opacity: 0.9;
  padding: 17px 25px;
}

nav ul {
  display: none;
}
.main-container {
  min-height: 100vh;
}

.main-title {
  color: black;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 16px;
}

.cart-badge {
  position: absolute;
  background-color: #172c4f;
  color: white;
  height: 21px;
  width: 21px;
  text-align: center;
  border-radius: 50%;
  top: 8px;
  right: 15px;
  font-size: 12px;
  padding: 5px;
}

header > h1 {
  font-size: 15px;
  margin: 0 0 4px 0;
  font-weight: 500;
}

.total-items {
  color: var(--app-secondary-color);
  font-size: 12px;
}

header {
  text-align: center;
}
.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  margin: 0 10px 32px 10px;
}

.items > li {
  margin: 0 12px;
  line-height: 19px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px 32px 10px;
  padding: 0;
  list-style: none;
}

.product-list li {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0px 12px;
}

.item-img {
  margin: 32px 0 16px;
  width: 100%;
}

.title,
.price {
  text-align: center;
  /* font-size: 13px; */
}

.title {
  color: black;
  font-weight: bold;
}
.price {
  color: var(--app-secondary-color);
  /* margin-top: 3px; */
}

.size-block > span {
  margin-left: 1rem;
  /* margin-top: 5px; */
}

footer {
  text-align: center;
  line-height: 24px;
}

footer a {
  color: var(--app-secondary-color);
}
footer .demo-label {
  background-color: black;
  color: white;
  width: 120px;
  margin: 8px auto 0;
  padding: 6px;
  text-transform: uppercase;
}

.active {
  position: absolute;
  background: white;
  height: 100%;
  width: 22rem;
  box-shadow: rgba(0, 0, 0, 0.3) 200px 0px 9px;
  z-index: 1;
}

/* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: opacity;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
  background: white;
  width: 22rem;
  height: 100%;
} */

.category {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.category-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.category h2 {
  margin: 24px 0;
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.category button {
  padding: 8px 44px;
  background: transparent;
  text-transform: uppercase;
}

.category-shop-now-btn {
  display: inline-block;
  border: 2px solid #000;
  color: var(--app-primary-color);
  padding: 12px 44px;
  font-size: 14px;
  text-transform: uppercase;
}

.category-shop-now-sm-btn {
  padding: 11px 24px;
}

.container {
  display: flex;
}

.container > .category h2 {
  font-size: 14px;
}

.details-page {
  height: 100%;
  padding: 0;
  margin: 0;
}

.selection {
  padding: 14px 0px 14px 54px;
  width: 100%;
  border: 0;
  font-size: 16px;
}

.quantity {
  padding: 14px 0px 14px 30px;
}

.selection:focus {
  outline: 0;
}

.details {
  box-sizing: border-box;
  margin: 0px 0 32px 0px;
  /* padding: 0 24px; */
}

.details > .price {
  text-align: start;
  margin: 12px 0 32px;
}

.details > h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.details-page > .item-img {
  margin: 0rem 0px 0px 0px;
  object-fit: none;
}

.size-card {
  display: flex;
  align-items: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.size-card > label {
  color: var(--app-secondary-color);
  width: fit-content;
}
.size-card:nth-child(2) {
  border-top: 0;
}

.description {
  margin: 32px 0px 69px 0px;
}

.description > h2 {
  margin: 16px 0;
  /* font-size: 13px; */
  font-size: var(--fs);
}
.desc {
  color: var(--app-secondary-color);
  line-height: 1.5;
  font-size: var(--fs);
}

.desc h2 {
  font-weight: 500;
  margin-top: 2em;
}

.desc > ul {
  padding: 0px 0px 0px 2.4rem;
  margin-top: 1em;
  list-style: disc;
}

.add-to-cart-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  /* height: 64px; */
  /* z-index: 1; */
}

.add-to-cart-btn > a {
  display: block;
  background-color: var(--app-accent-color);
  /* border: none; */
  color: white;
  padding: 25px 0px 25px 0px;
  /* width: 100%; */
  /* height: 100%; */
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

/* Cart CSS */
.cart-img {
  height: 72px;
  width: 72px;
}

.cart-details > .name {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  align-items: center;
}

.cart-name {
  margin: 10px -3px 0px 0px;
}

.cart-detail {
  display: flex;
  justify-content: space-evenly;
  gap: 31px;
  align-items: center;
  /* font-size: 13px; */
  color: gray;
}

.list {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0; */
  width: 72px;
  height: 72px;
}

.detail {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 2rem;
  position: relative;
}
.close-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.cart-product-title {
  /* font-size: 13px; */
  line-height: 20px;
  font-weight: 500;
}

.cart-qty {
  border: none;
  padding: 0px 7px;
  font-size: 17px;
}
.cart-size > span {
  margin-left: 10px;
  font-size: 14px;
}

.subsection {
  /* width: 95%; */
  margin: auto;
  padding: 0 24px 48px 24px;
}

.checkout-box {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  font-weight: 700;
  align-items: center;
}

/* CART Page */
.cart-container {
  margin: 0 auto;
  padding: 0 24px 48px 24px;
  max-width: 900px;
  overflow: hidden;
}
.address-payment-form {
  margin-bottom: 6rem;
}

.checkout-section h2 {
  margin-top: 1.3rem;
  font-size: var(--fs);
}

.cart-container > h2 {
  font-size: var(--fs);
}

.input-row {
  position: relative;
  margin-bottom: 10px;
}

.input-row > input {
  border: 0px;
  border-bottom: 1px solid #dfdfdf;
  outline: none;
}
.input-row > label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--app-secondary-color);
  display: flex;
  align-items: center;
  cursor: text;
}

.form-holder {
  position: relative;
  margin: 2rem 0rem;
}

.form-holder input {
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  outline: none;
}

.form-holder label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  transition-duration: 0.15s;
  display: flex;
  align-items: center;
  cursor: text;
}

.form-holder > input,
label {
  font-size: 1rem;
  width: 100%;
  /* height: 55px; */
  padding: 8px 0;
}

.form-holder input:focus {
  border-bottom: 2px solid black;
}

.form-holder input:focus + label,
.form-holder input:not(:placeholder-shown) + label {
  color: #424242;
  font-size: var(--fs);
  top: -15px;
  pointer-events: none;
}

.form-holder-column {
  display: flex;
  gap: 10px;
}

.form-holder-column > .form-holder {
  margin: 0.9rem 0rem;
}

.mb {
  margin: 0rem 0rem 0rem 0rem;
}

.select-box > label {
  display: block;
  /* margin-bottom: -32px; */
  font-size: var(--fs);
}
.select-box > select:focus {
  outline: none;
}
.select-box > select {
  width: 100%;
  padding: 8px 24px 8px 0;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 400;
}

input[type="checkbox"] {
  width: 5%;
}
.billing-address-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 30px 0px 45px 0px;
  height: 0px;
}
.billing-address-picker input {
  height: 15px;
}

.billing-address-picker label {
  font-size: var(--fs);
}

.expiry-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: space-between; */
  gap: 10px;
}

.width-one-third {
  width: 33%;
}
.expiry-month {
  display: flex;
  flex-direction: column;
}

.expiry-month label {
  font-size: var(--fs);
}
.expiry-month select {
  border: 0;
  border-bottom: var(--border-bottom);
  padding: 2px 16px 4px 0px;
  font-size: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.total-row {
  margin: 30px 0;
}

.order-summary-row {
  margin: 1.2rem 0rem 2rem 0rem;
}

.d-full-place-order-btn {
  display: none;
}

.main-section {
  max-width: 1440px;
  margin: auto;
}

.main-frame {
  margin: 2rem 0px;
  /* max-width: 900px; */
  /* overflow: hidden; */
  display: flex;
}

.cart-select {
  display: flex;
}
.cart-select > select {
  border-bottom: none;
}

.cart-block {
  margin: 40px 20px;
}

.category-main-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }

  .category-img {
    height: 320px;
  }

  nav ul {
    display: block;
  }

  .tabContainer {
    display: flex;
    gap: 31px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 13px;
  }

  .left-bar-item {
    margin-left: 2rem;
  }

  .category h2 {
    margin: 32px;
  }

  .category-shop-now-sm-btn {
    padding: 12px 44px;
  }

  .tabContainer > li > a {
    color: black;
  }

  .items {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  .underline {
    padding: 9px 5px;
    border-bottom: 2px solid;
  }

  .category-img {
    margin-bottom: 32px;
  }

  .items > li {
    display: flex;
    justify-content: center;
  }

  .item-img {
    margin: 32px 0 72px;
  }

  .address-payment-form {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 0rem;
  }
  .address-payment-form > section {
    width: 30%;
  }

  .cart-container {
    max-width: 1440px;
  }

  header > h1 {
    margin: 0 0 8px 0;
  }

  .checkout-form {
    max-width: 1440px;
  }
  .cart-block {
    max-width: 900px;
  }
  .cart-block,
  .checkout-form {
    padding-top: 5rem;
    margin: auto;
  }

  .cart-block {
    padding-top: 1rem;
  }
  .checkout-form header {
    line-height: 21px;
    padding-bottom: 2rem;
  }
  .checkout-form header h1 {
    font-size: 17px;
  }

  .d-full-place-order-btn {
    display: block;
    padding: 8px 44px;
    background: #fff;
  }

  .add-to-cart-btn {
    display: none;
  }
  .details-page {
    display: flex;
    justify-content: center;
    align-items: self-start;
    margin-top: 1rem;
    gap: 2rem;
  }

  .details-page > .item-img {
    /* margin: rem 0px 0px 0px; */
    object-fit: cover;
    padding: 0rem 1rem 1rem 1rem;
    width: 45%;
  }
  .details {
    max-width: 400px;
    padding: 17px 0 32px 0px;
    margin-top: 1rem;
  }

  .details > h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .details > .price {
    margin: 16px 0 40px 0px;
    font-size: 16px;
  }
  .d-full-cart-btn {
    display: block;
    position: relative;
  }

  .add-to-cart-btn > a {
    display: inline-block;
    /* border: 2px solid #000; */
    color: var(--app-primary-color);
    padding: 12px 44px;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #000;
  }

  .subsection {
    max-width: 900px;
  }
  .cart-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .checkout-box > a {
    /* display: inline-block; */
    /* box-sizing: border-box; */
    border: 2px solid #000;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    color: var(--app-primary-color);
    /* margin: 0; */
    padding: 10px 44px;
    /* text-align: center; */
    /* text-decoration: none; */
    text-transform: uppercase;
    /* border-radius: 0; */
    /* outline: none; */
    /* -webkit-appearance: none; */
  }

  /* .flex {
    display: flex;
    margin-left: 24px;
  } */

  .name {
    flex: 1 1 auto;
    line-height: 20px;
    /* font-weight: 500; */
    /* float: left; */
    /* width: calc(100% - 438px); */
    /* margin-top: 26px; */
    /* margin-right: 30px; */
  }

  /* .detail {
    display: flex;
    align-items: center;
    gap: 53px;
  } */

  .flex {
    /* align-self: flex-end; */
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
  }

  .detail {
    align-self: center;
    gap: 4rem;
  }

  .close-icon {
    position: relative;
  }

  .subtotal {
    margin: 0 64px 0 24px;
  }

  .place-order-btn {
    width: 13rem;
  }

  .category-main-img {
    display: block;
  }
}
